CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -std=c++23
  CompilationDatabase: ./out

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
